<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutRegistration :: layout (~{::body}, '')}">
<head>
  <meta charset="UTF-8"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">


</head>
<body>
<h4>...</h4>

<div class="card">
  <div class="card-body ">
    <div class="text-bg-warning">Ключ администратора не принят.</div>
  </div>
</div>
<div>
  <hr class="my-4">
  <button class="w-auto btn  btn-outline-secondary btn-group-sm background-color: #e6e7ff"
          onclick="document.location='/registrationChoice'" >Повторить...</button>
  <button class="w-auto btn  btn-outline-secondary btn-group-sm background-color: #e6e7ff"
          onclick="document.location='/signin'" >Вернуться на страницу регистрации</button>
</div>

</body>
</html>

</html>
