<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body}, 'verifier')}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="" name="description">


</head>
<body>
<h4>...</h4>

<div class="card">
  <div class="card-body ">
    <div class="text-success">Вы успешно зарегистрированы.</div>
  </div>
</div>
<div>
  <hr class="my-4">
  <button class="w-auto btn  btn-outline-secondary btn-group-sm background-color: #e6e7ff"
          onclick="document.location='/signin/signinPage'" >Вернуться на страницу регистрации</button>
  <button class="w-auto btn  btn-outline-secondary btn-group-sm background-color: #e6e7ff"
          onclick="document.location='/index'" >Продолжить/войти </button>
</div>

</body>
</html>

</html>

