<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutRegistration :: layout (~{::body}, 'registrationLogErrorInputClient')}">
<head>
  <meta charset="UTF-8"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">

</head>
<body>
<h6>&#9734;&#9734;&#9734;</h6>

<div class="card">
  <div class="card-body ">
    <div class="alert alert-danger"><strong>&#9760;&nbsp;Ошибка ввода данных.</strong>
      Этот логин уже занят. Придумай себе другой.</div>

  </div>
</div>
<div>
  <hr class="my-4">
  <button class="w-auto btn  btn-outline-secondary btn-group-sm background-color: #e6e7ff"
          onclick="document.location='/clientRegistration'" >Назад</button>
  <button class="w-auto btn  btn-outline-secondary btn-group-sm background-color: #e6e7ff"
          onclick="document.location='/signin'" >Выход</button>
</div>

</body>
</html>

</html>





