<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'index')}">


<head>
    <meta charset="UTF-8"/>
    <title>Person List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


</head>
<body>

<hr class="my-4">

<h3>Программная поддержка процесса проведения поверки СИ</h3>
<h5>(вторичные средства измерения температуры)</h5>
<hr class="my-4">
<h4>Фунции администратора</h4>
<hr class="my-4">
<h5>Здесь Вы можете:</h5>
<br>
<h6>&nbsp;&nbsp;&nbsp;

    &#128308; просмотреть данные по клиентам и изменить их;</h6>
<h6>&nbsp;&nbsp;&nbsp;
    &#128308; просмотреть данные по поверителям и изменить их;</h6>
<h6>&nbsp;&nbsp;&nbsp;
    &#128308; заблокировать пользователя-клиент;</h6>
<h6>&nbsp;&nbsp;&nbsp;
    &#128308; заблокировать пользователя-поверитель;</h6>
<h6>&nbsp;&nbsp;&nbsp;
    &#128308; изменить ключи регистрации.</h6>


<hr class="my-4">


<!--<form th:action="@{/admin/admin}" th:object="${administrator}"
      method="get" class="needs-validation" novalidate>
<div class="row g-3">
    <div class="col-12" >
        <ul class="list-group list-group-flush" id="idVer">
            <li class="list-group-item"
                th:utext="${'Вы вошли как администратор:'+'&nbsp;&nbsp;'
                +administrator.adminFirstName+'&nbsp;'+administrator.adminLastName}"></li>
        </ul>
    </div>
</div>
</form>-->
<hr class="my-4">



</body>
</html>


