<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body}, 'clients')}" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>All clients</title>
</head>
<body>
<h4>Блокировка/разблокировка клиентов</h4>
<div id="demo_info" class="box"></div>
<table id="example" class="display" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Код клиента</th>
        <th>Название организации</th>
        <th>Статус</th>
        <th>Заблок.</th>
        <th>Разблок.</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client: ${clients}">
        <td th:utext="${client.id}">...</td>
        <td th:utext="${client.clientFileCode}">...</td>
        <td th:utext="${client.clientName}">...</td>
        <td th:utext="${clientService.isEnable((client.getIdUser().id))}">...</td>

        <td ><form th:action="'/admin/'+${client.getIdUser().id}+'/blockClient'"  method="post">
            <button class="btn btn-outline-danger" type="submit" >
                &#10060;</button>
        </form>
        </td>
        <td ><form th:action="'/admin/'+${client.getIdUser().id}+'/unlockClient'"  method="post">
            <button class="btn btn-outline-success" type="submit" >
                &#9989;</button>
        </form>
        </td>

</table>
<script>
    $('#example').DataTable({
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/ru.json'
        }
    });
</script>
</body>
</html>
