<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutVerifier :: layout (~{::body}, 'deviceInVerification')}">

<head>
  <meta charset="UTF-8"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <!-- <title>Добавить вид измерений</title>-->
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


  <style>
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>
    <title></title>
</head>
<body class="bg-light">
<h3>Добавить измерительные каналы прибора в поверке</h3>
<div class="container">
  <main >
    <div class="col-md-7 col-lg-10">

      <form th:action="@{/verifier/addDeviceInVerificationMeasurementChannel}" th:object="${deviceInVerificationMeasurementChannel} "  method="post" class="needs-validation" novalidate>
          <hr class="my-4">
<h6>Текущие данные</h6>
          <div class="row g-3">
              <div class="col-12">
                  <ul class="list-group list-group-flush" id="idVer">
                      <li class="list-group-item" th:utext="${'Номер протокола в поверке:&nbsp '+measurementProtocolHead.measurementProtocolHeadNumber}"></li>
                      <li class="list-group-item" th:utext="${'Номер прибора в поверке:&nbsp'+measurementProtocolHead.idDeviceInVerification.deviceInVerificationNumber}"></li>
                      <li class="list-group-item" th:utext="${'Количество измерительных каналов:&nbsp '+measurementProtocolHead.deviceInVerificationMeasurementChannelsQuantity}"></li>
                      <li class="list-group-item" ></li>
                  </ul>
              </div>
          </div>
       <div class="row g-3">
          <div class="col-4">
              <label for="channelIndexNumber" class="form-label">Номер канала</label>
              <div class="input-group has-validation">
                  <span class="input-group-text">№</span>

                  <select  class="form-select"   id="channelIndexNumber" th:field="*{channelIndexNumber}" required >
                      <option value="" >. . .</option>
                      <option     th:each="channelArrs : ${channelArr}" th:value="${channelArrs+1}"
                                  th:utext="${channelArrs+1}"></option>
                  </select>
                  <div class="invalid-feedback">
                      Необходимо заполнить поле.
                  </div>
              </div>
          </div>
          <div class="col-8">
            <label for="errorValue" class="form-label">Класс точности (погрешность) прибора</label>
           <!-- <input type="number" min="0" max="100" step="0.01" th:field="*{errorValue}" class="form-control" id="errorValue"  required >-->
              <select  class="form-select" id="errorValue" th:field="*{errorValue}" required >
                  <option value="">. . .</option>
                  <option value="0,25">0,25</option>
                  <option  value="0,5">0,5</option>
                  <option value="1,0">1,0</option>
                  <option value="1,5">1,5</option>
              </select>
            <div class="invalid-feedback">
              Необходимо заполнить поле.
            </div>
          </div>
         <div class="col-12">
            <label for="deviceFileCode" class="form-label">Тип канала</label>
            <select  class="form-select"   id="deviceFileCode" th:field="*{idMeasurementChannelType.id}" required >
              <option value="" >. . .</option>
              <option     th:each="measurementChannelType : ${measurementChannelTypes}" th:value="${measurementChannelType.id}"
                          th:utext="${'Код-&nbsp;'+measurementChannelType.nominalStaticCharacteristic+'&nbsp;&nbsp;Начало выходного диапазона&nbsp;'+measurementChannelType.endInputRange
                          +'&nbsp;&nbsp;Конец выходного диапазона&nbsp;'+measurementChannelType.endOutputRange }"></option>
            </select>
            <div class="invalid-feedback">
              Необходимо заполнить поле.
            </div>
         </div>
               <div class="col-12"  hidden>
                   <label for="verifier" class="form-label"  >Назначенный поверитель</label>
                   <select  class="form-control" id="verifier" th:field="*{idMeasurementProtocolHead.id}" required>
                       <option th:each="m : ${measurementProtocolHead}" th:value="${measurementProtocolHead.id}"
                               th:utext="${measurementProtocolHead.id}"></option>
                   </select>
               </div>
       </div>
        <hr class="my-4">
        <button class="flex-sm-wrap btn btn-outline-secondary btn-group-sm background-color: #e6e7ff"
                type="submit" >Подтвердить</button>
        <hr class="my-4">
      </form>
    </div>
  </main>
</div>
<script>
  (() => {
    'use strict'
    const forms = document.querySelectorAll('.needs-validation')
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>

</body>
</html>
</html>



<!-- <table id="example" class="display" style="width:100%">
             <thead>
             <tr>
                 &lt;!&ndash;<th>ID</th>
                 <th>Название вида измерений</th>&ndash;&gt;

             </tr>
             </thead>
             <tbody>

             <tr th:each="es : ${e}">

                 <td ><div class="row g-3"><div class="col-8">
                     <label for="channelIndexNumber" class="form-label">Номер канала</label>
                     &lt;!&ndash;<div class="input-group has-validation">&ndash;&gt;
                         <span class="input-group-text">№</span>&ndash;&gt;

                         <select  class="form-select"   id="channelIndexNumber" th:field="*{channelIndexNumber}" required >
                             <option value="" >. . .</option>
                             <option     th:each="es : ${e}" th:value="${es+1}"
                                         th:utext="${es+1}"></option>
                         </select>
                         <div class="invalid-feedback">
                             Необходимо заполнить поле.
                         </div>
                    &lt;!&ndash; </div>&ndash;&gt;
                 </div></div></td>
                 <td ><div class="col-10">
                     <label for="errorValue" class="form-label">Класс точности (погрешность)</label>
                     <input type="number" min="0" max="100" step="0.01" th:field="*{errorValue}" class="form-control" id="errorValue"  required >
                     <div class="invalid-feedback">
                         Необходимо заполнить поле.
                     </div>
                 </div>
                 </td>
                 <td ><div class="col-10">
                     <label for="deviceFileCode" class="form-label">Тип канала</label>
                     <select  class="form-select"   id="deviceFileCode" th:field="*{idMeasurementChannelType}" required >
                         <option value="" >. . .</option>
                         <option     th:each="measurementChannelType : ${measurementChannelTypes}" th:value="${measurementChannelType.id}"
                                     th:utext="${'Код-&nbsp;'+measurementChannelType.nominalStaticCharacteristic+'&nbsp;&nbsp;Начало выходного диапазона&nbsp;'+measurementChannelType.endInputRange
                         +'&nbsp;&nbsp;Конец выходного диапазона&nbsp;'+measurementChannelType.endOutputRange }"></option>
                     </select>
                     <div class="invalid-feedback">
                         Необходимо заполнить поле.
                     </div>
                 </div></td>
                 <td > <div class="col-2"  hidden>
                     <label for="verifier" class="form-label"  >Назначенный поверитель</label>
                     <select  class="form-control" id="verifier" th:field="*{idMeasurementProtocolHead}" required>
                         <option th:each="m : ${measurementProtocolHead}" th:value="${measurementProtocolHead.id}"
                                 th:utext="${measurementProtocolHead.id}"></option>
                     </select>

                 </div></td>
                  <td> <button class="flex-sm-wrap btn btn-outline-secondary btn-group-sm background-color: #e6e7ff"
                               type="submit" >Сохранить</button></td>
             </tr>

             </tbody>

         </table>

-->