<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutVerifier :: layout (~{::body}, 'measurementChannelType')}">

<head>
    <meta charset="UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!-- <title>Добавить вид измерений</title>-->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>
</head>
<body class="bg-light">
<h3>Добавить тип измерительного канала</h3>
<div class="container">
    <main >
        <div class="col-md-7 col-lg-8">

            <form th:action="@{/verifier/addMeasurementChannelType}" th:object="${measurementChannelType} "  method="post" class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="sensorType" class="form-label">Тип датчика</label>
                        <input type="text" th:field="*{sensorType}" class="form-control" id="sensorType"  required >
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="nominalStaticCharacteristic" class="form-label">Номинальная статическая характеристика</label>
                        <input type="text"   th:field="*{nominalStaticCharacteristic}" class="form-control" id="nominalStaticCharacteristic"  required >
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <div class="row g-3">
                    <div class="col-6">
                        <label for="startInputRange" class="form-label">Начало входного диапазона</label>
                        <input type="number"  min="-200"  max="4" step="0.01" th:field="*{startInputRange}" class="form-control" id="startInputRange"  required >
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    <div class="col-6">
                        <label for="endInputRange" class="form-label">Конец входного диапазона</label>
                        <input type="number" min="0"  max="1367"  step="0.01" th:field="*{endInputRange}" class="form-control" id="endInputRange"  required >
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                <div class="col-6">
                    <label for="inputMeasuringSignalUnit" class="form-label">Ед. измерения входного сигнала</label>
                    <select  class="form-select" id="inputMeasuringSignalUnit" th:field="*{inputMeasuringSignalUnit}" required >
                        <option value="">. . .</option>
                        <option value="°C">°C</option>
                        <option value="мВ">мВ</option>
                        <option value="мА">мА</option>
                        <option value="Ом">Ом</option>
                    </select>
                </div>
                </div>
                <hr class="my-4">

                <div class="row g-3">
                    <div class="col-6">
                        <label for="startOutputRange" class="form-label">Начало выходного диапазона</label>
                        <input type="number"  min="-200"  max="0" step="0.01" th:field="*{startOutputRange}" class="form-control" id="startOutputRange"  required >
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        Необходимо заполнить поле.
                    </div>
                    <div class="col-6">
                        <label for="endOutputRange" class="form-label">Конец выходного диапазона</label>
                        <input type="number" min="0"  max="1367"  step="0.01" th:field="*{endOutputRange}" class="form-control" id="endOutputRange"  required >
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="outputMeasuringSignalUnit" class="form-label">Ед. измерения выходного сигнала</label>
                        <select  class="form-select" id="outputMeasuringSignalUnit" th:field="*{outputMeasuringSignalUnit}" required >
                            <option value="" >. . .</option>
                            <option value="°C">°C</option>
                            <option value="мВ">мВ</option>
                            <option value="мА">мА</option>
                            <option value="Ом">Ом</option>
                        </select>
                    </div>
                </div>

                <hr class="my-4">
                <button class="flex-sm-wrap btn btn-outline-secondary btn-group-sm background-color: #e6e7ff" type="submit" >Подтвердить</button>
                <hr class="my-4">

            </form>
        </div>
    </main>
</div>
<script>
    (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
</body>
</html>
</html>