<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutVerifier :: layout (~{::body}, 'standard')}">

<head>
    <meta charset="UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- <title>Добавить вид измерений</title>-->

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">



    <style>

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>

</head>
<body class="bg-light">
<h3>Добавить эталон</h3>
<div class="container">
    <main ><!--class="was-validated"-->
        <div class="col-md-7 col-lg-8">
            <!-- <h4 class="mb-3">Добавить вид измерений</h4>-->
            <form th:action="@{/verifier/addStandard}"  method="post" class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="standardName" class="form-label">Название эталона</label>
                        <input type="text"  name="standardName"  class="form-control" id="standardName"  required >
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="standardNumber" class="form-label">Заводской номер эталона</label>
                        <input type="text" name="standardNumber"  class="form-control" id="standardNumber"  required >
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="standardVerificationDate" class="form-label">Дата последней поверки</label>
                        <input type="date" name="standardVerificationDate" class="form-control" id="standardVerificationDate"  required >
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                </div>



                <hr class="my-4">
                <button class="flex-sm-wrap btn btn-outline-secondary btn-group-sm background-color: #e6e7ff" type="submit" >Подтвердить</button>
            </form>
        </div>

    </main>

</div>




<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()

</script>
</body>
</html>

</html>