<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutVerifier :: layout (~{::body}, 'deviceInVerification')}">

<head>
  <meta charset="UTF-8"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <!-- <title>Протокол поверки</title>-->
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <style>
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>
</head>
<body class="bg-light">
<h3>Выбрать измерительные каналы прибора в поверке</h3>
<hr class="my-4">
<div class="container">
  <main >
    <div class="col-md-7 col-lg-8">
      <form th:action="@{/verifier/deviceInVerificationMeasurementChannel}" th:object="${deviceInVerificationMeasurementChannel} "  method="post" class="needs-validation" novalidate>
        <h5>Основные данные</h5>



       <!-- <a th:utext="${}">-->

        <!--<div class="row g-3">
          <div class="col-8">
            <label for="measurementProtocolHeadNumber" class="form-label">Номер протокола поверки</label>
            <input type="text" th:field="*{measurementProtocolHeadNumber}" class="form-control" id="measurementProtocolHeadNumber"  required placeholder="10-12-ХХХ/55">
            <div class="invalid-feedback">
              Необходимо заполнить поле.
            </div>

          </div>
          <div class="col-8">
            <label for="measurementProtocolHeadDate" class="form-label"></label>
            <input type="date"   th:field="*{measurementProtocolHeadDate}" class="form-control" id="measurementProtocolHeadDate"  required >
            <div class="invalid-feedback">
              Необходимо заполнить поле.
            </div>
          </div>
        </div>
-->

     <!--   <div id="demo_info" class="box"></div>
        <table id="example" class="display" style="width:100%">
          <thead>
          <tr>
            <th>ID</th>
            &lt;!&ndash;<th>Тип прибора</th>
            <th>Код прибора</th>
            <th>Наименование прибора</th>
            <th>Вид измерения</th>
            <th>Методика поверки</th>&ndash;&gt;

          </tr>
          </thead>
          <tbody>

          <tr >


            <td th:utext="${measurementProtocolHead.id}">...</td>
            <td th:utext="${measurementProtocolHead.measurementProtocolHeadNumber}">...</td>
            <td th:utext="${measurementProtocolHead.deviceInVerificationMeasurementChannelsQuantity}">...</td>



          </tr>

          </tbody>

        </table>


-->

        <h3>Типы погрешностей измерения</h3>
        <div id="demo_info1" class="box"></div>
        <table id="example1" class="display" style="width:100%">
          <thead>
          <tr>
            <th>ID</th>
            <th>Тип погрешности</th>
            <!--<th>Единица измерения </th>-->
          </tr>
          </thead>
          <tbody>
          <tr th:each="es : ${measurementChannelTypes}">
            <td >xfghxfgbszfgbn</td>
            <td >xfghxfgbszfgbn</td>

            <td th:utext="${errorType.errorUnit}">...</td>-->
          </tr>
          </tbody>
        </table>
        <hr class="my-4">



        <hr class="my-4">
        <button class="flex-sm-wrap btn btn-outline-secondary btn-group-sm background-color: #e6e7ff"
                type="submit" >Продолжить</button>
        <button class="w-auto btn  btn-outline-secondary btn-group-sm background-color: #e6e7ff"
                onclick="document.location='/verifier/verInfo'" >На главную</button>
        <hr class="my-4">
      </form>
    </div>
  </main>
</div>

<!--  js для прокаченной таблицы-->
<script>

  $('#example').DataTable({
    language: {
      url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/ru.json'
    }
  });

</script>










<script>
  (() => {
    'use strict'
    const forms = document.querySelectorAll('.needs-validation')
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
</body>
</html>
</html>