<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutVerifier :: layout (~{::body}, 'deviceInVerification')}">

<head>
    <meta charset="UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!-- <title>Протокол поверки</title>-->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>
</head>
<body class="bg-light">
<h3>Протокол поверки</h3>
<hr class="my-4">
<div class="container">
    <main >
        <div class="col-md-7 col-lg-8">
            <form th:action="@{/verifier/measurementProtocolHead}" th:object="${measurementProtocolHead} "  method="post" class="needs-validation" novalidate>
                <h5>Основные данные</h5>
                <div class="row g-3">
                    <div class="col-6">
                        <label for="measurementProtocolHeadNumber" class="form-label">Номер протокола поверки</label>
                        <input type="text" th:field="*{measurementProtocolHeadNumber}" class="form-control" id="measurementProtocolHeadNumber"  required placeholder="10-12-ХХХ/55">
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>

                    </div>
                    <div class="col-6">
                        <label for="measurementProtocolHeadDate" class="form-label">Текущая дата</label>
                        <input type="date"   th:field="*{measurementProtocolHeadDate}" class="form-control" id="measurementProtocolHeadDate"  required >
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>


                    <div class="col-6">
                        <label for="measurementProtocolHeadVerOrg" class="form-label">Поверочная лаборатория</label>
                        <input type="text"   th:field="*{measurementProtocolHeadVerOrg}" class="form-control" id="measurementProtocolHeadVerOrg"
                               required placeholder="БелГИМ">
                        <div class="invalid-feedback">
                        Необходимо заполнить поле.
                         </div>
                    </div>

                    <div class="col-6">
                        <label for="orderNumber" class="form-label">Номер наряда</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">№</span>
                        <input type="text"   th:field="*{orderNumber}" class="form-control" id="orderNumber"
                               required placeholder="72XXXXXX/X">
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                    </div>
                </div>
                <hr class="my-4">
                <h5>Данные о приборе</h5>

                <div class="row g-3">
                    <div class="col-12">
                        <label for="deviceInVerificationNumber" class="form-label">Номер принятого в поверку прибора/клиент</label>
                        <select  class="form-select"   id="deviceInVerificationNumber" th:field="*{idDeviceInVerification}" required >
                            <option value="" >. . .</option>
                            <option     th:each="deviceInVerification : ${deviceInVerifications}" th:value="${deviceInVerification.id}"
                                        th:utext="${'№-&nbsp;'+deviceInVerification.deviceInVerificationNumber+'&nbsp;&nbsp;Клиент&nbsp;'+
                                        deviceInVerification.idClient.clientName}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="errorType" class="form-label">Тип погрешности измерения</label>
                        <select  class="form-select"   id="errorType" th:field="*{idErrorType}" required >
                            <option value="" >. . .</option>
                            <option     th:each="errorType : ${errorTypes}" th:value="${errorType.id}" th:utext="${errorType.errorTypeCol+'&nbsp;&nbsp;'+
                            errorType.errorUnit}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="chanelQuantity" class="form-label">Количество измерительных каналов</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">№</span>
                            <input type="number" min="1"  max="32" step="1"  th:field="*{deviceInVerificationMeasurementChannelsQuantity}"
                                   class="form-control" id="chanelQuantity" required >
                            <div class="invalid-feedback">
                                Необходимо заполнить поле.
                            </div>
                        </div>
                    </div>

                </div>


                <hr class="my-4">
                <h5>Лабораторные условия</h5>

                <div class="row g-3">
                    <div class="col-6">
                        <label for="labTemperature" class="form-label">Температура</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">°C</span>
                        <input type="number"  min="20"  max="40" step="0.1" th:field="*{labTemperature}" class="form-control" id="labTemperature"  required >
                        </div>
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="labHumidity" class="form-label">Влажность</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">%</span>
                        <input type="number" min="30"  max="100"  step="0.1" th:field="*{labHumidity}" class="form-control" id="labHumidity"  required >
                        </div>
                            <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="labPressure" class="form-label">Атмосферное давление</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">кПа</span>
                            <input type="number" min="89"  max="120"  step="0.1" th:field="*{labPressure}" class="form-control" id="labPressure"  required >
                        </div>
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="labVoltage" class="form-label">Напряжение питания сети</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">V</span>
                            <input type="number" min="220"  max="235"  step="0.1" th:field="*{labVoltage}" class="form-control" id="labVoltage"  required >
                        </div>
                        <div class="invalid-feedback">
                            Необходимо заполнить поле.
                        </div>
                    </div>
                </div>

                    <hr class="my-4">
                <button class="flex-sm-wrap btn btn-outline-secondary btn-group-sm background-color: #e6e7ff"
                        type="submit" >Подтвердить</button>
                <button class="w-auto btn  btn-outline-secondary btn-group-sm background-color: #e6e7ff"
                        onclick="document.location='/verifier/verInfo'" >На главную</button>
                <hr class="my-4">
            </form>
        </div>
    </main>
</div>
<script>
    (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
</body>
</html>
</html>