<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutVerifier :: layout (~{::body}, 'measurementChannelType')}">


<head>
    <meta charset="UTF-8"/>
    <title>Типы приборов</title>

</head>
<body>

<h3>Виды измерений</h3>
<div id="demo_info" class="box"></div>
<table id="example" class="display" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Тип прибора</th>
        <th>Код прибора</th>
        <th>Наименование прибора</th>
        <th>Вид измерения</th>
        <th>Методика поверки</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="deviceType : ${deviceTypes}">

        <td th:utext="${deviceType.id}">...</td>
        <td th:utext="${deviceType.measurementDeviceType}">...</td>
        <td th:utext="${deviceType.deviceFileCode}">...</td>
        <td th:utext="${deviceType.deviceName}">...</td>
        <td th:utext="${deviceType.idMeasurementType.measurementTypeCol}">...</td>
        <td th:utext="${deviceType.idMethodology.methodologyName}">...</td>

    </tr>

    </tbody>

</table>

<!--  js для прокаченной таблицы-->
<script>

    $('#example').DataTable({
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/ru.json'
        }
    });

</script>

</body>
</html>






