<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutVerifier :: layout (~{::body}, 'measurementChannelType')}">


<head>
    <meta charset="UTF-8"/>
    <title>Типы измерительных каналов</title>

</head>
<body>

<h3>Типы измерительных каналов</h3>
<div id="demo_info" class="box"></div>
<table id="example" class="display" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Тип датчика</th>
        <th>НСХ</th>
        <th>Нач. вх. диапазона</th>
        <th>Кон. вх. диапазона</th>
        <th>Ед. измер. вх. сигнала</th>
        <th>Нач. вых. диапазона</th>
        <th>Кон. вых. диапазона</th>
        <th>Ед. измер. вых. сигнала</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="measurementChannelType : ${measurementChannelTypes}">

        <td th:utext="${measurementChannelType.id}">...</td>
        <td th:utext="${measurementChannelType.sensorType}">...</td>
        <td th:utext="${measurementChannelType.nominalStaticCharacteristic}">...</td>
        <td th:utext="${measurementChannelType.startInputRange}">...</td>
        <td th:utext="${measurementChannelType.startOutputRange}">...</td>
        <td th:utext="${measurementChannelType.inputMeasuringSignalUnit}">...</td>
        <td th:utext="${measurementChannelType.endInputRange}">...</td>
        <td th:utext="${measurementChannelType.endOutputRange}">...</td>
        <td th:utext="${measurementChannelType.outputMeasuringSignalUnit}">...</td>


    </tr>

    </tbody>

</table>
<hr class="my-4">
<!--  js для прокаченной таблицы-->
<script>

    $('#example').DataTable({
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/ru.json'
        }
    });

</script>

</body>
</html>






