<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutVerifier :: layout (~{::body}, 'addmeastype')}">
<head>
    <meta charset="UTF-8"/>
    <title>Виды измерений</title>
</head>
<body>
<h3>Виды измерений</h3>
<div id="demo_info" class="box"></div>
<table id="example" class="display" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название вида измерений</th>
        <th>Удалить</th>
        <th>Изменить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="meastype : ${meastypes}">
        <td th:utext="${meastype.id}">...</td>
        <td th:utext="${meastype.measurementTypeCol}">...</td>
        <td ><form th:action="'/verifier/'+${meastype.id}+'/del'"  method="post">
                <button class="btn btn-outline-danger" type="submit" >DEL</button>
            </form>
        </td>
        <td ><form th:action="'/admin/'+${meastype.id}+'/editClient'"  method="post">
            <button class="btn btn-outline-warning" type="submit" >EDIT</button>
        </form>
        </td>
    </tr>
    </tbody>
</table>


<hr class="my-4">
<script>

    $('#example').DataTable({
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/ru.json'
        }
    });
</script>
</body>
</html>




<!--
<td ><form th:action="'/verifier/'+${meastype.id}+'/del'"  method="post">
    <button type="button" class="w-auto btn  btn-outline-secondary btn-group-sm background-color: #e6e7ff" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Удалить
    </button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title "  id="staticBackdropLabel">Подтвердить удаление</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-danger" type="submit">Удалить</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</form>
</td>-->
