<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutVerifier :: layout (~{::body}, 'errorType')}">


<head>
    <meta charset="UTF-8"/>
    <title>Типы погрешностей измерения</title>

</head>
<body>

<h3>Типы погрешностей измерения</h3>
<div id="demo_info" class="box"></div>
<table id="example" class="display" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Тип погрешности</th>
        <th>Единица измерения </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="errorType : ${errorTypes}">
        <td th:utext="${errorType.id}">...</td>
        <td th:utext="${errorType.errorTypeCol}">...</td>
        <td th:utext="${errorType.errorUnit}">...</td>
    </tr>
    </tbody>
</table>
<hr class="my-4">
<!--  js для прокаченной таблицы-->
<script>

    $('#example').DataTable({
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/ru.json'
        }
    });

</script>

</body>
</html>
