<main class="d-flex flex-nowrap">

  <!--<div class="b-example-divider b-example-vr"></div>-->

  <div class="d-flex" style="height: auto">
    <div class="vr"></div>
  </div>

  <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Меню поверителя</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button th:class="${menu == 'standard'}?'btn btn-toggle d-inline-flex align-items-center  border-1':'btn btn-toggle d-inline-flex align-items-center  border-1 collapsed'"
                class="btn btn-toggle d-inline-flex align-items-center  border-1 collapsed" data-bs-toggle="collapse" data-bs-target="#standard-collapse" aria-expanded="false" aria-controls="home-collapse">
          Эталоны
        </button>
        <div th:class="${menu == 'standard'}? 'show':'collapse'" class="collapse " id="standard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
            <li><a class="link-dark d-inline-flex text-decoration-none " href="/verifier/addStandard">Добавить эталон</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none " href="/verifier/allStandards">Показать все эталоны</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button th:class="${menu == 'methodology'}?'btn btn-toggle d-inline-flex align-items-center  border-1':'btn btn-toggle d-inline-flex align-items-center  border-1 collapsed'"
                class="btn btn-toggle d-inline-flex align-items-center  border-1 collapsed" data-bs-toggle="collapse" data-bs-target="#method-collapse" aria-expanded="false" aria-controls="home-collapse">
          Методики поверки
        </button>
        <div th:class="${menu == 'methodology'}? 'show':'collapse'" class="collapse " id="method-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
            <li><a class="link-dark d-inline-flex text-decoration-none " href="/verifier/addMethodology">Добавить методику</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none " href="/verifier/allMethodologies">Показать все методики</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button th:class="${menu == 'addmeastype'}?'btn btn-toggle d-inline-flex align-items-center  border-1':'btn btn-toggle d-inline-flex align-items-center  border-1 collapsed'"
                class="btn btn-toggle d-inline-flex align-items-center  border-1 collapsed" data-bs-toggle="collapse" data-bs-target="#measuretype-collapse" aria-expanded="false">
          Вид измерений
        </button>
        <div th:class="${menu == 'addmeastype'}? 'show':'collapse'" class="collapse" id="measuretype-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
            <li><a href="/verifier/addMeasType" class="link-dark d-inline-flex text-decoration-none ">Добавить новый</a></li>
            <li><a href="/verifier/allMeasTypes" class="link-dark d-inline-flex text-decoration-none ">Посмотреть все</a></li>
            <!--<li><a href="#" class="link-dark d-inline-flex text-decoration-none ">Поиск и удаление</a></li>-->
            <!--<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>-->
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button th:class="${menu == 'deviceType'}?'btn btn-toggle d-inline-flex align-items-center  border-1':'btn btn-toggle d-inline-flex align-items-center  border-1 collapsed'"
                class="btn btn-toggle d-inline-flex align-items-center  border-1 collapsed" data-bs-toggle="collapse" data-bs-target="#deviceType-collapse" aria-expanded="false" aria-controls="home-collapse">
          Тип прибора
        </button>
        <div th:class="${menu == 'deviceType'}? 'show':'collapse'" class="collapse " id="deviceType-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
            <li><a class="link-dark d-inline-flex text-decoration-none " href="/verifier/addDeviceType">Добавить новый тип прибора</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none " href="/verifier/allDeviceType">Показать все типы</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button th:class="${menu == 'clients'|| menu == 'index'}?'btn btn-toggle d-inline-flex align-items-center  border-1':'btn btn-toggle d-inline-flex align-items-center  border-1 collapsed'"
                class="btn btn-toggle d-inline-flex align-items-center  border-1 collapsed" data-bs-toggle="collapse" data-bs-target="#measchtype-collapse" aria-expanded="false" aria-controls="home-collapse">
          Тип измерит. канала
        </button>
        <div th:class="${menu == 'clients'}? 'show':'collapse'" class="collapse " id="measchtype-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
            <li><a class="link-dark d-inline-flex text-decoration-none " href="">Добавить новый тип ИК</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none " href="/allClients">Показать все типы ИК</a></li>
          </ul>
        </div>
      </li>

      <li class="border-top my-3"></li>

      <li class="mb-1">
        <button   th:class="${menu == 'verifier'}?'btn btn-toggle d-inline-flex align-items-center  border-1':'btn btn-toggle d-inline-flex align-items-center  border-1 collapsed'"
                  class="btn btn-toggle d-inline-flex align-items-center  border-1 collapsed" data-bs-toggle="collapse" data-bs-target="#devinver-collapse" aria-expanded="false">
          Поверка прибора
        </button>
        <div th:class="${menu == 'verifier'}? 'show':'collapse'"  class="collapse " id="devinver-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
            <li><a class="link-dark d-inline-flex text-decoration-none " href="/addNewVerifierAdm">Добавить прибор в поверку</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none " href="/showAllVerifiers">Провести поверку прибора</a></li>
            <li><a class="link-dark d-inline-flex text-decoration-none " href="#">Поиск/редактирование/удаление </a></li>
          </ul>
        </div>
      </li>




      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button th:class="${menu == '???'}?'btn btn-toggle d-inline-flex align-items-center  border-1':'btn btn-toggle d-inline-flex align-items-center  border-1 collapsed'"
                class="btn btn-toggle d-inline-flex align-items-center  border-1 collapsed" data-bs-toggle="collapse" data-bs-target="#addition-collapse" aria-expanded="false">
          Дополнительно
        </button>
        <div th:class="${menu == '???'}? 'show':'collapse'" class="collapse" id="addition-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none border-primary">...</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none ">...</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none ">...</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none ">...</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="d-flex" style="height: auto">
    <div class="vr"></div>
  </div>


  <!-- <div class="b-example-divider b-example-vr"></div>-->
</main>
